body{
    font-family: Georgia, serif;
}

.fretboard {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background-color: #F5DEB3;
}

.fret {
    border-right: 5px solid #606060;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

}

.fret .note{
    height:40px;
    text-align:center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    cursor: pointer;

    /*the string*/
    background-image: linear-gradient(#a9a9a9, #a9a9a9);
    background-repeat: no-repeat;
    background-position: center center;
}

.fret.singleInlay{
    background-image: url('/image/single-inlay.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.fret.doubleInlay{
    background-image: url('/image/double-inlay.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.string_1 {
    background-size: 100% 2px;
}

.string_2 {
    background-size: 100% 3px;
}

.string_3 {
    background-size: 100% 4px;
}

.string_4 {
    background-size: 100% 5px;
}

.string_5 {
    background-size: 100% 6px;
}

.string_6 {
    background-size: 100% 7px;
}

#fret_0 {
    border:none;
    border-right:10px solid #000;
    background-color: #fff;
}

#fret_0 .note{
    background: none;
}

.answer-buttons{
    text-align: center;
}

.answer-button{
    margin:10px;
    width:100px;
    font-size:50px;
}